<!DOCTYPE HTML>
<html>

<head>  
	<script type="text/javascript">
	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer",
		{
			title:{
				text: "추천 요금제 목록",      
				fontFamily: "arial black",
				fontColor: "DarkSlateGrey"
			},
                        animationEnabled: true,
			axisX: {
				title:"통화량",
				titleFontFamily: "arial",
				gridThickness: 1,
				minimum: -10
				

			},
			axisY:{
				titleFontFamily: "arial",
				title: "데이터량",
				valueFormatString:"0 GB",
				titleFontSize: 1,
				interval: 1
			},

			data: [
			{        
				type: "scatter",  
				toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span> <br/> <strong>데이터</strong> {toold}<br/> <strong>음성</strong> {toolv}",
				markerSize: 50,
				dataPoints: [
				  
				<% @selected.each do |z| %>
                { x: <%=z.voice%>, y: <%=z.data%>, name: "<%=z.name%>", toolv: "<%=z.voice%>", toold: "<%=z.data%>" },
                <% end %>
        

				
				]
			}
			]
		});

chart.render();
}
</script>
<script type="text/javascript" src="/canvasjs.min.js"></script>
</head>
<body>
	<center>
	<div id="chartContainer" style="height: 600px; width: 70%;">
	</div>
	</center>

<table class="table table-striped">
    <% @selected.each do |x| %>
  	<% end %>
    <tr>
        <td>시리즈</td>
        <td>이름</td>
        <td>가격</td>
        <td>음성</td>
        <td>데이터</td>
        <td>문자</td>
        <td>url</td>
    </tr>
</table>

<p>선택된 요금제는 총 <%=@selected.count%>개 입니다.  </p>
<a href="/home/result">결과보러 가기</a>

</body>
</html>