<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Range with fixed minimum</title>
  
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  
  <script>
  $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 80,
      min: 3,
      max: 150,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value*1000 );
      }
    });
    $( "#amount" ).val(  $( "#slider-range-min" ).slider( "value" )*1000 );
  });
  </script>

</head>
<body style = "background-color:#191919">
<div style = "background-color:#191919">
<br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content"data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <p style="font-family:cursive; color:gray">
        <% if @nonblank.include?(i) %>
            <%=@random[j] %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </p>
        </div>
               
            
</div>  
</div>
<% end %>
<div class="box_container">
    
</div>
    <div class="slider_container" style="opacity:1; background-color:#cccccc">
        <form action="/home/graph">
        <p>
            <label for="amount">그 이상은 절대로 지불할 수 없는 금액을 조정하세요</label><br>
            <div style="background-color:#191919" text-align="center">
            <input type="text" id="amount" name="range" readonly style="border:0; color:#f6931f; font-weight:bold;"></div>
            </p>
            <div style="width:50%; left:25%;" id="slider-range-min"></div>
            
            <br>
            <br>
            <input type="image" src="/paysubmit.png" width="100px" height="100px" class="img-circle" value="아아"><br>
            <p><%=@selected.count%> 개의 요금제로 추려집니다</p>
        </form>
    </div>
</body>
</html>