<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Range with fixed minimum</title>
  
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  <script>
  $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 37,
      min: 3,
      max: 150,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value*1000 );
      }
    });
    $( "#amount" ).val(  $( "#slider-range-min" ).slider( "value" )*1000 );
  });
  </script>

</head>
<body>
<br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content">
        <% if @nonblank.include?(i) %>
            <%=@random[j] %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </div>
               
            
    
</div>
<% end %>
<div class="box_container">
    <p><%=@selected.count%> 개의 요금제가 선택되었습니다</p>
</div>
    <div class="slider_container">
              <br><br><br>
        <form action="/home/graph">
        <p>
            <label for="amount">Maximum price:</label>
            <input type="text" id="amount" name="range" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div style="width:50%; left:25%;" id="slider-range-min"></div>
             
            <input type="submit" value="아아">
        </form>
    </div>
</body>
</html>