<h1>결과창창<h1>

<p>당신의 선택결과</p>
first : <%= $first.to_i%>
<br>
second : <%= $second.to_i%>
<br>
third : <%= $third.to_i%>
<br>
fourth : <%= $fourth.to_i%>
<br>
last : <%= $last.to_i=%>
<br>
해당되는 개수 : <%=@selected.count%><br>

해당자 : 
<br>
<%i=0%>
<%while i < @selected.count %>
<%=@selected[i].name%>
<% i+=1%>
<%end%>
<a href="/home/main">처음으로 </a>
<br>