<h1>결과창창<h1>

<p>당신의 선택결과</p>
first : <%= $first.to_i%>
<br>
second : <%= $second.to_i%>
<br>
third : <%= $third.to_i%>
<br>
last : <%= $last.to_i%>
<br><br>
해당되는 개수 : <%=@selected.count%><br>
해당자 : 
<%i=0%>
<%while i < @selected.count %>
<%=@selected[i].name%>
<% i+=1%>
<%end%>
<a href="/home/main">처음으로 </a>
<br>
<%j=0%>
<% for i in 0..119%>
<div class="col-md-1 col-sm-3">
        

        <div class="boxy my_content"data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        <% if @nonblank.include?(i) %>
            <%=@random[j].name %>
            <% j=j+1 %>
        <%else%>

        <% end %>
            <%i%>
        </div>
               
            
    
</div>
<% end %>