<h1>결과창창<h1>

<p>당신의 선택결과</p>
first : <%= @mydata.first%>
<br>
second: <%= @mydata.second%>
third : <%= @mydata.third%>
fourth : <%= @mydata.fourth%>
val : <%= @mydata.val%>
voice1 : <%= @mydata.voice1%>
voice2 : <%= @mydata.voice2%>
data1 : <%= @mydata.data1%>
data2 : <%= @mydata.data2%>

해당되는 개수 : <%=@selected.count%><br>

해당자 : 
<br>
<%i=0%>
<%while i < @selected.count %>
<%=@selected[i]%>
<% i+=1%>
<%end%>
<a href="/">처음으로 </a>
<br>